#title {
    padding: 10px 0;
    border-bottom: 4px solid #ccc;
    margin-bottom: 30px;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;    
}
.controls {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px; 
}

.main-controls {
    display: flex;
    margin-left: 8px;
}

.control-btn-container {
    display: flex;
}
.control-btn {
    margin-left: 8px;
    width: 75px;
    height: 100%;
}

#filename-input {
    margin-right: 10px;
}

#content {
    padding: 10px;
    box-shadow: 0 0 5px 0 rgb(97, 97, 97);
    min-height: 300px;
    margin:  10px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
  
.dark-mode {
    background-color: black;
    color: white;
}